/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body{
    margin: 100px;
} */

button{
    padding: 0.2rem 1.2rem;
    margin: 60px 30px 0 60px;
    border: none;
    background-color: rgb(52, 100, 204);
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

h1{
   margin: 30px 60px;
}
.blogSub{
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogSub a{
    padding: 0.5rem 1.2rem;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: rgb(52, 100, 204);
}

.containerContentBlog{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contentBlog{
    margin: 60px;
    padding: 1.5rem;
    background-color: azure;
    width: 28rem;
}
.contentBlog img{
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 17rem;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}
.imageCont{
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.imageCont:hover img{
    transform: scale(1.2); 
    filter: grayscale(60%);
}
.text0verlay{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}
.contentBlog p{
    margin-bottom: 15px;
}
.contentBlog h4{
    margin-bottom: 15px;
}

.addIcon{
    display: inline-block;
    overflow: hidden;
    transition: transform 0.5s ease;
    cursor: pointer;
    background-color: #af1616; 
    color: #000; 
    padding: 7px;
    margin-top: 15px;
    font-size: 24px; 
    border-radius: 100%; 
    line-height: 0.5;
}
.addIcon:hover {
    transform: scale(1.2);
}